@use "variables.scss" as *;

header {
    background: $negro;
    

    .nav-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:  1rem 2rem;
        

        .logo{
            width: 8rem;
            -webkit-animation: slide-in-blurred-left 0.8s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: slide-in-blurred-left 0.8s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;

            @-webkit-keyframes slide-in-blurred-left {
                0% {
                    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
                            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
                    -webkit-transform-origin: 100% 50%;
                            transform-origin: 100% 50%;
                    -webkit-filter: blur(40px);
                            filter: blur(40px);
                    opacity: 0;
                }
                100% {
                    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
                            transform: translateX(0) scaleY(1) scaleX(1);
                    -webkit-transform-origin: 50% 50%;
                            transform-origin: 50% 50%;
                    -webkit-filter: blur(0);
                            filter: blur(0);
                    opacity: 1;
                }
            }
            @keyframes slide-in-blurred-left {
                0% {
                    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
                            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
                    -webkit-transform-origin: 100% 50%;
                            transform-origin: 100% 50%;
                    -webkit-filter: blur(40px);
                            filter: blur(40px);
                    opacity: 0;
                }
                100% {
                    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
                            transform: translateX(0) scaleY(1) scaleX(1);
                    -webkit-transform-origin: 50% 50%;
                            transform-origin: 50% 50%;
                    -webkit-filter: blur(0);
                            filter: blur(0);
                    opacity: 1;
                }
            }
        }



        #btn-menu {
            color: $blanco;
            font-size: 2rem;
            background: none;
            border: none;
            cursor: pointer;
        }
    
    }

    #menu{
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100vh;
        z-index: 1000;
        background: $negro;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 2rem;
        padding-inline: 1rem;
    
        padding-top: 2rem;

        transition: right 0.3s ease;

        .it_nav a {
            font-size: $h3_size_m;
            text-decoration: none;
            color: $blanco;
        }

        .it_nav a:hover {
            color: $marron;
            text-shadow: 1px 1px 14px $blanco;
        }

    }

    #menu.activo{
        right: 0;
    }
}

