@use "variables.scss" as *;

header {
    background: $negro;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-top{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 1rem 2rem;

        .logo{
            width: 150px;
        }

        #btn-menu {
            color: $blanco;
            width: 100px;
            margin: 0 auto;
            font-size: 2rem;
            background: none;
            border: none;
            cursor: pointer;
        }
    
    }

    #menu{
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100vh;
        z-index: 1000;

        background: $negro;
        

        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 2rem;
        padding-inline: 2rem;
    
        padding-top: 2rem;

        transition: right 0.3s ease;

        .it_nav a {
            font-size: $h3_size_m;
            text-decoration: none;
            color: $blanco;
        }

        .it_nav a:hover {
            color: $marron;
            text-shadow: 1px 1px 14px $blanco;
        }

    }

    #menu.activo{
        right: 0;
    }
}

