@use "variables.scss" as *;

.main {
    background-image: url(../img/fondo_main1.png);
    background-size: contain;
    height: 35vh;
    @extend %flex-column;
    
    .intro {
        color: $marron;
        text-shadow: 0px 1px 2px rgb(22,22,22);

        h1 {
            @extend %flex-row;
            text-transform: uppercase;
            font-size: $h1_size_m;
        }

        h2 {
            @extend %flex-row;
            font-weight: 100;
            font-size: $h2_size_m;
        }

    }
}