@use "variables.scss" as *;

.secundary {
    height: 65vh;
    background-color: none;
    color: $negro;
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.text_description {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    align-items: center;
    p {
        padding-inline: 1rem;
    }
}

.origen, .evolution, .guitar {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    h3 {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .text_origen, .text_evolution, .text_guitar{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 12px;
        background-color: $marron;

        h3 {
            margin: 0;
        }

        p {
            line-height: 1.6;
        }

        img {
            width: 100%;
            height: 12rem;
            object-fit: cover;
            border-radius: 10px;
            display: block;
        }

    }
}

.guitarists {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;


    .card {
    background-color: $marron;
    }
}

.form {
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    background: $negro;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

    label {
        color: $blanco;
        font-size: $h3_size_m;
    }

    input,
    textarea {
        padding: 1rem;
        border: none;
        border-radius: 2rem;
        background: #1b1b1b;
        color: $marron;
        font-size: 1rem;
        outline: none;
        transition: 0.5s;
    }

    textarea {
        resize: none;
        min-height: 120px;
    }


    input:focus,
    textarea:focus {
        background: $negro;
        box-shadow: 0px 0px 10px 5px  $marron;
            -webkit-box-shadow: 0px 0px 10px 5px  $marron;
            -moz-box-shadow: 0px 0px 10px 5px $marron ;
    }

    button {
        padding: 14px;
        border: none;
        border-radius: 30px;
        background: $blanco;
        color: $negro;
        font-family: $main_font;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        transform: translateY(3px);
        opacity: 0.7;
    }

}



