@use "variables.scss" as *;

.secundary {
    height: 40vh;
    background-color: none;
    color: $negro;
    // font-size: 1rem;
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.text_description {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
    p {
        padding-inline: 1rem;
    }
}

.origen, .evolution, .guitar {
    width: 90%;
    max-width: 80vh;
    margin: 0 auto;
    padding: 2rem 0;
    h3 {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .text_origen, .text_evolution, .text_guitar{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 12px;
        background-color: $marron;

        h3 {
            margin: 0;
        }

        p {
            line-height: 1.6;
        }

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
            display: block;
        }

    }
}

.guitarists {
    width: 100%;
    max-width: 80vh;
    padding: 2rem;

    .card {
        display: flex;
        margin: 1rem 0;
        background-color: $marron;
    }
}


