@use "variables.scss" as *;


.secundary {
    height: auto;
    background-color: none;
    color: $negro;
    text-align: center;
    @extend %grid-mobile;
    align-items: center;
    h3{
        @extend %h3
    }

    .text_description {
        align-items: center;
        @extend %grid-mobile;
        p {
            padding-inline: 1rem;
        }
    }

    #video{
        width: 70%;
        max-width: 600px;
        display: block;
        margin: 1rem auto;
        border-radius: 15px;
        box-shadow: 0 8px 20px $negro;
        transition: transform 0.3s ease;
    }

    #video:hover {
        transform: scale(1.05);
    }   
}



.origen, .evolution, .guitar {
    width: 90%;
    margin: 2rem auto;
    text-align: center;
    h3 {
        @extend %h3
    }

    .text_origen, .text_evolution, .text_guitar{
        @extend %grid-mobile;
        gap: 1rem;
        align-items: center;
        margin-bottom: 2rem;
        padding: 1rem;
        border-radius: 1rem;
        background-color: $negro;

        p {
            line-height: 1.6;
            color: $marron;
        }

        img {
            @include img(block,100%,auto);
            object-fit: cover;
            border-radius: 1rem;
            
        }

    }

    .text_guitar{
        h3{
            @extend %h3-card
        }
        
    }
}

.guitarists {
    margin: 1rem auto;
    @extend %grid-mobile;
    gap: 1rem;
    justify-items: center;


    .card {
        @include card;

        img {
            @include img(block,100%,auto);
        }
        h3{
            @extend %h3-card
        }
        p{
            color:$marron
        }

        a{
            text-decoration: none;
            color: $negro;
            background-color: $blanco;
            padding: 5px;
            border-radius: 20px;

        }
    }
}

.form {
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    background: $negro;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

    label {
        color: $blanco;
        font-size: $h3_size_m;
    }

    input,
    textarea {
        padding: 1rem;
        border: none;
        border-radius: 2rem;
        background: #1b1b1b;
        color: $marron;
        font-size: 1rem;
        outline: none;
        transition: 0.5s;
    }

    textarea {
        resize: none;
        min-height: 120px;
    }


    input:focus,
    textarea:focus {
        background: $negro;
        box-shadow: 0px 0px 10px 5px  $marron;
            -webkit-box-shadow: 0px 0px 10px 5px  $marron;
            -moz-box-shadow: 0px 0px 10px 5px $marron ;
    }

    button {
        padding: 14px;
        border: none;
        border-radius: 30px;
        background: $blanco;
        color: $negro;
        font-family: $main_font;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        transform: translateY(3px);
        opacity: 0.7;
    }

}

.recomendacion{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    h3{
        margin: 2rem auto 1rem auto;
        font-family: $h3_size_m;
        display: flex;
        justify-content: center;
        @extend %h3
    }
    
    iframe{
        margin-bottom: 1rem;
    }
}



